
body, h1, h2, p, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;
}

header {
    background-color: #ba47b4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #5e3f3f;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

main.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

article, aside {
    background-color: #f92718b8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside ul {
    padding-left: 20px;
}

footer p {
    margin: 0.5rem 0;
}

@media screen and (max-width: 1000px) {
    main.grid-container {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 5px 0;
    }
}
